{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio/django.jpg' %}" class="img-fluid">
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h3 id="hometext" class="font-weight-bold">Subbu Sethuraman is Commander-in-Chief  and lives in Downtown Bangalore (Karnataka)</h3>
  </div>
</div>

<h2 class="mt-5">Portfolio</h2>
<hr>
<div class="row">
  {% for record in records %}
  <div class="col-lg-4 col-md-6">

    {% if record.url %}
    <a href="{{ record.url }}">
      <img src="{{ record.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ record.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3>{{ record.title }}</h3>
    <p>{{ record.description }}</p>

  </div>
  {% endfor %}
</div>

{% endblock %}
